.search {
    width: 100%;
    max-width: 30rem;

    border-right: 0;
    font: inherit;
    color: inherit;
    box-shadow: none !important;
    border: 0;
    background: unset;
    outline: unset;

    background-color: var(--dark-grey);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.5) inset !important;
    
    margin: 1rem auto;

    display: block;
}
.search:hover{
    outline: var(--light-grey) 2px solid;
}
.search:focus {
    outline: var(--blue) 2px solid;
}

.filters {
    display: flex;
    width: 100%;
    max-width: 30rem;
    margin: 1rem auto;
    justify-content: space-between;

}
.filters label {
    display: inline;
    margin: 0.3rem 0.25rem;
}