.filters {
  display: flex;
  width: 100%;
  max-width: 30rem;
  margin: 1rem auto;
  justify-content: space-between;

  #platforms {
    display: flex;
  }

  label {
    margin: 0.3rem 0.25rem;
  }
}

.search-container {
  position: relative;
  margin: 1rem auto;
  max-width: 30rem;

  .search {
    display: block;
    margin: 0;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    pointer-events: none;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--light-grey);
  }
}

@media only screen and (max-width: 400px) {
  .filters {
    font-size: 0.8rem;

    input {
      margin: 0;
      margin-right: 0.1rem;
    }
  }
}