.search {
    width: 100%;
    max-width: 30rem;

    border-right: 0;
    font: inherit;
    color: inherit;
    box-shadow: none !important;
    border: 0;
    background: unset;
    outline: unset;

    background-color: #213145;
    border-radius: 1rem;
    padding: 0.5rem 1rem;

    margin: 1rem auto;

    display: block;
}
.search:focus {
    outline: var(--blue) 2px solid;
}
