.user {
    margin: 3rem auto;
    margin-bottom: 0;
    width: 95%;
    max-width: 900px;

    background-color: var(--dark-grey);
    padding: 1rem;

    height: 8rem;

    display: flex;
}

.details {
    width: fit-content;
}

.user .title {
    width: fit-content;
    text-transform: uppercase;

    transition: 0.2s;

    font-size: 2rem;
    font-weight: 600;
}

.title .username {
    display: inline;
    word-break: break-all;
}

.user .title:hover {
    opacity: 0.7;
}

.user .image {
    height: 100%;
    width: fit-content;

    margin-right: 1rem;
}
.user a {
    text-decoration: none;
    color: white;
}
.user img {
    height: 100%;
    border-radius: 2px;
}

.game-count {

}
.sale-count {

}

@media only screen and (max-width: 800px) {
    .user .title {
        font-size: 1.3rem;
    }
}
