.wishlist-item *,
.wishlist-item {
    --item-height: 10rem;

    font-family: sans-serif;
}
.wishlist-item {
    background-color: var(--dark-grey);
    width: 100%;
    height: 10rem;

    padding: 1rem;

    position: relative;
    color: white;

    display: flex;
    flex-direction: row;

    margin-bottom: 1rem;

    opacity: 0;
    animation: fade-slide-in 0.5s forwards;
}
.wishlist-item img {
    height: 100%;
}
.content {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 100%;
}
.details-section {
    display: flex;
    width: 70%;
    font-size: 0.9rem;
    color: #9da3ac;
}
.details-section *:nth-child(2) {
    margin-left: auto;
}

/* reviews */
.negative {
    color: #a34c25;
}
.mixed {
    color: #aa956a;
}
.positive {
    color: #66c0f4;
}
.amazing {
    color: #00ce56;
}

/* icon */
.platform-icons {
    display: flex;
    margin-top: auto;
    margin-bottom: 1rem;
}
.platform-icon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 4px;
    background-repeat: no-repeat;
}
.platform-icon.win {
    background-image: url("https://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png?v=3");
}
.platform-icon.mac {
    background-image: url("https://store.akamai.steamstatic.com/public/images/v6/icon_platform_mac.png");
}
.platform-icon.linux {
    background-image: url("https://store.akamai.steamstatic.com/public/images/v6/icon_platform_linux.png");
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.prices {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.prices .price {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: auto;

    line-height: 3rem;
    border-radius: 0.3rem;

    transition: 0.3s;
}
.price:hover {
    filter: brightness(80%);
}

.price-details {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    height: 3rem;
}

.price-tag {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: right;
    align-items: flex-end;
}
.discount {
    border-radius: 0.3rem 0 0 0.3rem;

    background-color: #a6ce00;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0rem 0.5rem;
}
.original-price {
    color: grey;
    font-size: 0.75rem;
    text-decoration: line-through;
    padding-top: 0.3rem;
    height: 0.75rem;
    line-height: 0.75rem;
}
.final-price {
    height: 2.25rem;
    line-height: 2.25rem;
    position: absolute;
    bottom: 0%;
    font-size: 1.1rem;
}
.prices svg {
    height: 2rem;
    width: 2rem;

    margin: 0.5rem 1rem 0.5rem 0.5rem;
}
.steam-price {
    background-color: var(--blue);
}
.humble-price {
    float: right;
    background-color: var(--red);
}

@keyframes fade-slide-in {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 800px) {
    .wishlist-item {
        flex-direction: column;
        height: fit-content;
    }
    .wishlist-item img {
        width: 80%;
        margin: auto;
        margin-bottom: 0.5rem;
        height: unset;
    }

    .content {
        height: 100%;
        flex-direction: column;
    }

    .title {
        margin-left: 0;
    }

    .prices {
        flex-direction: row;

        height: fit-content;
        width: 100%;

        justify-content: space-between;
        margin-top: 4rem;
    }

    .price {
        position: relative;
    }
    .price.discounted {
        border-radius: 0 0 0.3rem 0.3rem;
    }
    .discount {
        position: absolute;
        bottom: 100%;
        width: 100%;
        border-radius: 0.3rem 0.3rem 0 0;

        text-align: center;
    }
}
