.error {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    .details {
        display: flex;
        .code {
            font-weight: 600;
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: white 1px solid;
        }
    }
    .back {
        transition: 0.2s;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 1rem;
        text-decoration: underline;
        &:hover {
            opacity: 0.8;
            scale: 1.03;
        }
    }
}