.form {
  position: relative;
  align-items: center;
  text-align: center;
  width: 95%;
  margin: auto;
  margin-top: 4rem;

  * {
    display: block;
    margin: auto;
  }

  label {
    width: fit-content;
  }

  .error {
    color: red;
    margin: 1rem auto;
  }
}