body {
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;

    --dark-grey: rgb(35, 35, 41);
    --blue: #219dd6
}

* {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}