/* Globals */
body {
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;

    height: 100%;

    overflow-x: hidden;

    --dark-grey: rgb(35, 35, 41);
    --blue: #219dd6;
    --red: #c1252a;
    --light-grey: #9da3ac
}

* {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

/* nav */
nav {
    height: 4rem;

    background-color: var(--dark-grey);
}

.nav-logo {
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: block;

    line-height: 4rem;
    font-weight: 600;
    font-size: 2rem;

    transition: 0.2s;

    background: linear-gradient(to right, white 0% 33%, var(--blue), rgb(120, 31, 192));
    background-size: 300%;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.nav-logo:hover {
    background-position: 100%;
    scale: 1.03;
}
.nav-logo * {
    display: inline;
    margin: 0;
}

/* footer */
.footer {
    border-top: var(--dark-grey) 1px solid;
    width: 95%;
    max-width: 1100px;

    margin: auto;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}
.footer .links {
    float: right;
}

.footer a {
    padding: 0.25rem 0.15rem;
    border-radius: 2px;
    border-bottom: var(--blue) 1px solid;

    display: inline-block;

    transition: 0.3s;
}
.footer a:hover {
    background-color: var(--blue);
    transform: scale(1.03);
}

/* buttons */
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    border: var(--blue) 2px solid;
    padding: 0.75rem 2rem;
    border-radius: 2rem;

    transition: 0.2s;
}

button:not(:disabled):hover {
    background-color: var(--blue);
    transform: scale(1.03);
}
button:disabled {
    opacity: 0.5;
}
